<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
 
    <variable name="myvar" value="myvalue"/>
 
    <targets>
        <!--大于trace保存至文件-->
        <target name="common_file" xsi:type="File" maxArchiveFiles="30"  encoding="utf-8"
                fileName="${basedir}/NLogs/Common/${date:yyyy-MM-dd}.log"
                archiveFileName="${basedir}/NLogs/${date:yyyy-MM-dd}.{#}.log"
                archiveDateFormat="yyyyMMdd"
                archiveAboveSize="104857600"
                archiveEvery="Day"
                archiveNumbering="Sequence"
                layout="[${date:yyyy-MM-dd HH\:mm\:ss.ffff}][${logger}][${uppercase:${level}}]：${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace}" />
        <!--Trace保存至文件-->
        <target name="trace_file" xsi:type="File" maxArchiveFiles="30" encoding="utf-8"
                fileName="${basedir}/NLogs/Trace/${date:yyyy-MM-dd}_Trace.log"
                archiveFileName="${basedir}/NLogs/${date:yyyy-MM-dd}_Trace.{#}.log"
                archiveDateFormat="yyyyMMdd"
                archiveAboveSize="104857600"
                archiveEvery="Day"
                archiveNumbering="Sequence"
                layout="[${date:yyyy-MM-dd HH\:mm\:ss.ffff}][${logger}][${uppercase:${level}}]：${message}" />
        <!--配置Sql Server-->
        <target name="database" xsi:type="Database"
                dbProvider="System.Data.SqlClient.SqlConnection,System.Data.SqlClient" 
                connectionString="Data Source=localhost;Initial Catalog=数据库名;Persist Security Info=True;User ID=账户;Password=密码"
                commandText="insert into NLog (Application, Logged, Level, Message,Logger, CallSite, Exception) values (@Application, @Logged, @Level, @Message,@Logger, @Callsite, @Exception);">
            <parameter name="@application" layout="AspNetCoreNlog" />
            <parameter name="@logged" layout="${date}" />
            <parameter name="@level" layout="${level}" />
            <parameter name="@message" layout="${message}" />
            <parameter name="@logger" layout="${logger}" />
            <parameter name="@callSite" layout="${callsite:filename=true}" />
            <parameter name="@exception" layout="${exception:tostring}" />
        </target>

        <target xsi:type="Null" name="blackhole" />
    </targets>
 
    <rules>
	    <logger name="Microsoft.*" writeTo="blackhole" maxlevel="Warning"  final="true" />
	    <!-- add your logging rules here -->
        <logger name="*" maxlevel="Trace" writeTo="trace_file" />
        <!--<logger name="*" minlevel="Debug" writeTo="debugger" />-->
        <logger name="*" minlevel="Info" writeTo="common_file" />
    <!--配置Sql Server-->
    <!--<logger name="*" minlevel="Info" writeTo="database" />-->
    </rules>
</nlog>